[Unit]
Description=A rule based proxy tunnel
After=network-online.target nftables.service iptabels.service

[Service]
Type=simple
ExecStartPre=+/usr/lib/clash/setup-cgroup.sh
ExecStart=/usr/local/bin/bypass-proxy /usr/local/bin/clash-premium -d /home/chenzaichun/kafkatest/clash -f /home/chenzaichun/kafkatest/clash/config-tun.yaml
#ExecStopPost=+/usr/lib/clash/clean-tun.sh

[Install]
WantedBy=multi-user.target
